body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: black;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.card {
    width: 100%;
    border: none;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin: 10px;
}

#Image1 {
  border-radius: 50%;
  height:6rem;
  width: 6rem;
  display: block;
  margin-top: 10px;
}

.card-body {
    background-color: rgb(193, 175, 175);
    border-radius: 10px;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addBtn {
    
    background: #166aaa;
    color: #ffffff;
}

.delBtn {
    background-color: #c21e1e;
    columns: #ffffff;
}

.note-title {
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #323232;
}

.note-textarea {
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #323232;
}



label {
    font-size: large;
    color: black;
}

#addBtn:hover {
    background-color: #eceff4;
    color: blue;
    font-weight: 500;
    border: 2px solid black;
    transform:scale(0.9);
    outline: none;
}

.delBtn:hover {
    background-color: #eceff4;
    color: red;
    font-weight: 500;
    border: 2px solid black;
    transform:scale(0.9);
    outline: none;
}

#emptyFormToast {
    display: none;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #ffdddd;
    border: 1px solid #f00;
    border-radius: 5px;
}

.filter-div {
    display: flex;
    width: 100%;
    text-align: center;
    gap: 18px;
    margin-bottom: 3rem;
}

.unchecked {
    cursor: pointer;
}

.checked {
    color: yellow;
}

.noteHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-star {
    cursor: pointer;
}

.star-important {
    color: gold;
}

/* Search box */
.search-bar {
    gap: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sortNotesDropdown {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
}

#sortNotesDropdown option {
    background-color: #333;
    color: white;
}

input {
    outline: none;
    max-width: 300px;
    width: 100%;
    font-size: 1rem;
}

.hide {
    display: none;
}

.notes {
    justify-content: center;
}
#sortNotes{
    margin-left: 60px;
}
