body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: black;
}

.card {
    width: 100%;
    border: none;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

#Image1 {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-body {
    background-color: rgb(193, 175, 175);
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addBtn {
    
    background: #166aaa;
    color: #ffffff;
}

.note-textarea {
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #323232;
}



label {
    color: white;
}

#addBtn:hover {
    background-color: #eceff4;
    color: blue;
    font-weight: 500;
    border: 2px solid black;
    transform:scale(0.9);
    outline: none;
}

#emptyFormToast {
    display: none;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #ffdddd;
    border: 1px solid #f00;
    border-radius: 5px;
}

.filter-div {
    display: flex;
    width: 100%;
    text-align: center;
    gap: 18px;
}

.unchecked {
    cursor: pointer;
}

.checked {
    color: yellow;
}

.noteHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-star {
    cursor: pointer;
}

.star-important {
    color: gold;
}

/* Search box */
.search-bar {
    gap: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    outline: none;
    max-width: 300px;
    width: 100%;
    font-size: 1rem;
}

.hide {
    display: none;
}

.notes {
    justify-content: center;
}
#sortNotes{
    margin-left: 60px;
}
