body {
  margin: 0;
  padding: 0;
  /* background: url(bcksrje.jpg); */
  background-size: cover;
  background-position: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
  background: linear-gradient(to right, #00416a, #7096dd);
}

.card-body {
  background: linear-gradient(10deg, #2193b0, #6dd5ed);
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .card-body {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: rgb(0, 0, 0);
  }
}

#addBtn {
  background: #166aaa;
  color: #ffffff;
}

#addBtn:hover {
  color: #000000;
  background: #1dfff0;
  box-shadow: 0 0 30px #1dfff0;
  border-color: white;
}

.loginbox {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover {
  color: #ffc107;
}

#addBtn:focus {
  background-color: #7096dd;
}

#emptyFormToast {
  display: none;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #ffdddd;
  border: 1px solid #f00;
  border-radius: 5px;
}

.unchecked {
  color: white;
}

.checked {
  color: yellow;
}

.noteHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-star {
  cursor: pointer;
}

.star-important {
  color: gold;
}